<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Dévises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="assets/images/home.jpg" />
    <br>

    <ion-card-content class="content">

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/ue.png">
        </ion-thumbnail>
        <ion-label>
          <h2>EURO</h2>
        </ion-label>
        <ion-button fill="outline" slot="end">1.437</ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/usa.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>U.S DOLLAR</h2>
        </ion-label>
        <ion-button fill="outline" slot="end">1.437</ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/ang.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>B.B STERLING</h2>
        </ion-label>
        <ion-button fill="outline" slot="end">1.437</ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/jap.png">
        </ion-thumbnail>
        <ion-label>
          <h2>JAPONAISE YEN</h2>
        </ion-label>
        <ion-button fill="outline" slot="end">1.437</ion-button>
      </ion-item>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/can.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>CANADIAN DOLLAR</h2>
        </ion-label>
        <ion-button fill="outline" slot="end">1.437</ion-button>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/images/tun.jpg">
        </ion-thumbnail>
        <ion-label>
          <h2>TUNISIAN D</h2>
        </ion-label>
        <ion-button fill="outline" slot="end">1.437</ion-button>
      </ion-item>



    </ion-card-content>
  </ion-card>

</ion-content>
<ion-footer style="text-align:center;padding:5px;color:white;background-color: black;">
  Plus proche de vous
</ion-footer>
