<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-customer"></ion-back-button>
    </ion-buttons>
    <ion-title>HISTORIQUE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <br>
    <ion-item>
      <ion-label>Choisir le mois:</ion-label>
      <ion-select placeholder="" [(ngModel)]="month">
        <ion-select-option value="Janvier">Janvier </ion-select-option>
        <ion-select-option value="Fevrier">Fevrier </ion-select-option>
        <ion-select-option value="Mars">Mars </ion-select-option>
        <ion-select-option value="Avril">Avril </ion-select-option>
        <ion-select-option value="Mai">Mai </ion-select-option>
        <ion-select-option value="Juin">Juin </ion-select-option>
        <ion-select-option value="Juillet">Juillet </ion-select-option>
        <ion-select-option value="Août">Août </ion-select-option>
        <ion-select-option value="Septembre">Septembre </ion-select-option>
        <ion-select-option value="Octobre">Octobre </ion-select-option>
        <ion-select-option value="Novembre">Novembre </ion-select-option>
        <ion-select-option value="Décembre">Décembre </ion-select-option>
      </ion-select>
    </ion-item>
    <br>

    <ion-button expand="block" (click)="select()">Valider</ion-button>
<ion-card *ngIf="viewlist">
   <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/05/2021</h3>
        </ion-text>
        <p>Retrait</p>
        <ion-text color="dark">
          <p>145DT</p>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item><ion-item>
      <ion-label class="ion-text-wrap">
        <ion-text color="primary">
          <h3>01/04/2021</h3>
        </ion-text>
        <p>Transfert</p>
        <ion-text color="dark">
          <p>450DT</p>
        </ion-text>
      </ion-label>
    </ion-item>
    </ion-card>
  </ion-card>
</ion-content>
