<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-customer"></ion-back-button>
    </ion-buttons>
    <ion-title>SOLDE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <h2 style="text-align: center;font-size: 2rem;">Votre solde est: </h2>
  <br>
  <br>
<ion-card color="primary" style="border-radius:100%;height: 250px;width: 250px;text-align: center;margin:
auto;">
<br>
<br>
<br>
<br>
<h1 style="font-size: 2.5rem">
  12900 DT
</h1>
</ion-card>
</ion-content>
