<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/agence"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card>
    <img src="assets/images/home.jpg" />
    <br>

    <ion-card-content class="content">
<ul>
  <li>
    <b>Nom:</b> Habib bourguiba
  </li>
  <li>
    <b>Ville:</b> Beja
  </li>
  <li>
    <b>Code postal:</b> 100000
  </li>
  <li>
    <b>N° Tel:</b> 67890876
  </li>
  <li>
    <b>Fax:</b> 4567856
  </li>
  <li>
    <b>Mail:</b> agence@gmail.com
  </li>
  <li>
    <b>Adresse:</b> Habib bourguiba
  </li>

</ul>
      </ion-card-content>
      </ion-card>
      </ion-content>
